*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-site{
    background-image: url('aqui.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    background-attachment: fixed;
    padding-bottom: 700px;
}

.img1{
    background-color: aqua;
}
div img {
    height: 700px;
    overflow: auto;
    display: flex;
    flex-shrink: 0;
    object-fit: cover;
    margin: auto;
    position: sticky;
    flex-direction: column;
    top: 0;
}


